.card {
  border-radius: 0.75rem;
}

.card-header input {
  max-width: 280px;
}

.table td,
.table th {
  vertical-align: middle;
}

.selected-row {
  background-color: #d0ebff; /* light blue */
  cursor: pointer;
}

tr.selected-row:hover {
  background-color: #c0ddff; /* slightly darker on hover */
}

.search-box {
  width: 800px; 
}

.action-buttons {
  margin-right: 20px;
}

th {
  cursor: pointer;
}